fastapi
uvicorn[standard]
sqlalchemy
pydantic[email]
pydantic-settings
passlib[bcrypt]
bcrypt
gunicorn
psycopg2-binary
python-jose[cryptography]
stripe
python-multipart
python-dotenv
boto3
botocore
supabase
python-socketio
aiofiles
jinja2
email-validator
web3>=6.0.0
eth-abi>=4.0.0
py-solc-x>=2.0.0
